@charset "utf-8";

/*全体*/
.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    color: #666;
   
}
#header {
    text-align: center;
    font-size: 35px;
    width: 100%;
    margin-top: 15px;
    padding:10px;
}

/*カレンダー*/
#calendar {
    text-decoration: none;
    text-align: center;
    font-size: large;
    width: 100%;
}
table {
    outline: 2px solid #ddd;
    border-collapse: collapse;
    width: 100%;
}
th {
    color: #000;
}
th, td {
    outline: 1px solid #ddd;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    height:110px ;
}
/*日曜日*/
td:first-child {
    color: red;
}
/*土曜日*/
td:last-child {
    color: blue;
}

/*祝日*/
td:first-child,
td.holiday{
    color: red;
}

/*前後月の日付*/
td.disabled {
    color: #ccc;
}
/*本日*/
td.today {
    background-color: #D65E72;
    color: #fff;
}

/*ボタン*/
#next-prev-button {
    position: relative;
}
#next-prev-button button{
    width: 90px;
    height: 65px;
    cursor: pointer;
    background: #4aa7b7;
    color: #fff;
    border: 1px solid #B78D4A;
    border-radius: 4px;
    font-size: 30px;
    padding: 0.5rem 2rem;
    margin: 1rem 0;
}
#next-prev-button button:hover{
    background-color: #9c92d4;
    border-color: #D4BB92;
}
#prev {
    float: left;
}
#next {
    float: right;
}
a{
    text-decoration: none;
    color:#000
}

a:hover{
    color:#43f6ff;
}