@charset "utf-8";

button.btn-outline-primary{
   
   
    margin-right: 30%;
 }

 div.mgnleft{
    margin-top: 150px;
    margin-right: 100px;
    
 }

div.back{
    margin-top: 50px;
    margin-left: 1250px;
}



 