@charset "utf-8";

button.btn-outline-primary{
   
   
    margin-right: 30%;
 }

 div.mgnleft{
    margin-top: 150px;
    margin-right: 90px;
 }

span.back{
    margin-bottom: 20px;
}

span.plus{
    margin-bottom: 20px;
}



 