<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
    <div>購入商品一覧</div>
    <form method="get" th:action="@{/form}">
        商品名:<input type="text" name="commodity"/>
        金額:<input type="number" name="price"/>
        <select name="category" id="overall-category">
            <option value="">--カテゴリーを選択してください。--</option>
            <option value="food">食料</option>
            <option value="dailyuse">日用品</option>
            <option value="travelcost">交通費</option>
            <option value="fashion">衣服</option>
            <option value="hobby">趣味</option>
            <option value="other">その他</option>
        </select>
    </form44ed4>
</body>
</html>  

