<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <meta charset="UTF-8">
    <link th:href="@{/css/form.css}" rel="stylesheet"/>
    <script th:src="@{/js/form.js}" type="text/javascript"></script>

    <title>Insert title here</title>
    
</head>

<body onload="calculateSum();" class="bg-primary-subtle text-white">
    
    <h1 th:text="${listtoForms}"></h1>
    <div><span class="p-3 mb-2 bg-secondary text-white">購入商品一覧</span></div>
    <form method="post" th:action="@{/update}">

        <div class="container text-center p-3 mb-2 bg-secondary text-white">

        <table id="myTable" class="table text-nowrap">
            <div class="bg-primary">
            <tr>
                <th>商品名</th>
                <th>価格</th>
                <th>数量</th>
                <th>合計</th>
            </tr>
            </div>
            <tr th:each="bought: ${boughts}">
                <td><input type="text" name="goodsname" th:value="${bought.goodsname}" class="form-control"></td>
                <td><input type="number" name="price" th:value="${bought.price}"class="form-control"></td>
                <td><input type="number" name="amount" th:value="${bought.amount}"class="form-control"></td>
                <td><input type="number" th:value="${bought.total}" id="total" readonly class="form-control"></td>
                <td><input type="hidden" name="id" th:value="${bought.id}" class="form-control"></td>
                <td><a th:href="@{/form-delete(id=${bought.id})}" class="form-control text-decoration-none">削除</a></td>
            </tr>
        </table>
        </div>
        <input type="submit" value="更新" class="form-control short-button">
    </form>
    総合計:<input type="number" id="result" name="total" readonly value="0" class="form-control little-short-button">円

    <form method="post" th:action="@{/addgoods}">]
        <table>
            <tr>
                <th>商品名</th>
                <th>価格</th>
                <th>数量</th>
                <th>合計</th>
            </tr>
            <tr>
                <td><input type="text" name="goodsname" class="form-control"></td>
                <td><input type="number" name="price" id="tanka" onchange="reCalc();" class="form-control"></td>
                <td><input type="number" name="amount" id="suryo" onchange="reCalc();" class="form-control"></td>
                <td><input type="number" id="yokokei" class="form-control"></td>
                <td><input type="hidden" name="id" class="form-control"></td>
            </tr>
        </table>
        <input type="submit" value="追加登録" class="form-control short-button">
    </form>
    <form method="post" th:action="@{/}">
        <input type="submit" value="完了" class="form-control short-button">
    </form>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
        </style>
</body>

</html>