<html xmlns:th="http://thymeleaf.org">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script th:src="@{/js/list.js}" defer></script>
    
</head>

<body onload="reCalc();">

    <input type="text" name="title">

    <form method="post" th:action="@{/regist}">

    <table id="formContainer">
        <thead>
            
            <tr>
                <th>商品名</th>
                <th>予想価格</th>
                <th>数量</th>
                <th>合計</th>
            </tr>
        </thead>
        <tbody>
            <tr>

                <th><!--<input type="checkbox"name="check"value="1">--><input name="check" type="hidden" value="0"><input id="text" type="text" name="goodsname" value="" placeholder="商品名"></th>
                <td>
                    <input type="number" id="tanka_001" name="price" onchange="reCalc();">円
                </td>
                <td>
                    <input type="number" id="suryo_001" name="amount" value="1" onchange="reCalc();">個
                </td>
                <td>
                    <input type="number" id="yokokei_001" name="yokokei_001">円
                </td>
                <td>
                    <button type="button" onclick="deleteForm(this)" id="button_001" class="btn btn-outline-danger">削除</button>       
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th colspan="3">総合計</th>
                <td>
                    <input type="number" id="total" name="total" readonly value="0">円
                </td>
            </tr>
        </tfoot>
    </table>
    <input type="submit" value="登録">
</form>
<form method="post" th:action="@{/kanryo}">
<table>
    <tr>
        <th> </th>
    <th>商品番号</th>
    <th>商品名</th>
    <th>価格</th>
    <th>数量</th>
    </tr>
    <form>
    <tr th:each="item: ${items}">
        <td>
            <input type="checkbox"name="check" th:value="${item.id}"><input name="check" type="hidden" value="0">
        </td>
    <td th:text="${item.id}"></td>
    <td th:text="${item.goodsname}"></td>
    <td th:text="${item.price}"></td>
    <td th:text="${item.amount}"></td>
    </tr>
    <input type="submit" value="完了">
    </table>

</form>
<div>商品の削除</div>
<form method="post" th:action="@{/gorori}">
    商品番号:<input type="text" name="id"/>
    <input type="submit" value="削除する"/>
</form>



    <div class="d-flex flex-row-reverse bd-highlight">
    <button onclick="addForm()" class="btn btn-outline-primary" >+</button>

   
      
    </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

</html>