<!-- <!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script>
        function addCheckbox() {
          //.getElementById:htmlの要素を変数conteainerに格納
          var container = document.getElementById("checkboxContainer");
          //.createElement:<input>を変数newCheckboxに格納
          var newCheckbox = document.createElement("input");
          //格納された<input>のtypeを指定
          newCheckbox.type = "checkbox";
          //取得したhtmlの要素に出力
          container.appendChild(newCheckbox);

          var newText = document.createElement("input");
          newText.type = "text";
          container.appendChild(newText);

          var newNumber = document.createElement("input");
          newNumber.type = "number";
          container.appendChild(newNumber);

          var lineBreak = document.createElement("br");
          container.appendChild(lineBreak);
        }
        
      </script>
</head>
<body>
    <div>リスト</div>
    <form>
        <label>
            <input id="goods" type="checkbox" name="framework[]">
        </label>
        <input id="text" type="text" name="name" value="" placeholder="商品名">
        <input id="text" type="number" name="price" value="" placeholder="金額">円
    </form>

    <div id="checkboxContainer">
         <input type="checkbox"> -->

<!-- </body>
</body>
</html> -->


<html xmlns:th="http://thymeleaf.org">

<head>
    <script th:src="@{/js/list.js}" defer></script>
</head>

<body onload="reCalc();">

    <input type="text" name="title">

    <table id="formContainer">
        <thead>
            <tr>
                <th>商品名</th>
                <th>単価</th>
                <th>数量</th>
                <th>合計</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th> <input id="text" type="text" name="name" value="" placeholder="商品名"></th>
                <td>
                    <input type="number" id="tanka_001" name="tanka_001" onchange="reCalc();">円
                </td>
                <td>
                    <input type="number" id="suryo_001" name="suryo_001" value="1" onchange="reCalc();">個
                </td>
                <td>
                    <input type="number" id="yokokei_001" name="yokokei_001">円
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th colspan="3">総合計</th>
                <td>
                    <input type="number" id="total" name="total" readonly value="0">円
                </td>
            </tr>
        </tfoot>
    </table>
    <button onclick="addForm()">+</button>
    <form method="post" th:action="@{/}">
        <input type="submit" value="完了">
    </form>
</body>

</html>